/* https://dribbble.com/shots/2899238-app-radio3 */

:root {
	--inner-container-width: 286px;
	--inner-container-height: 508px;
	--inner-container-bg-color: #ffffff;
	--outer-container-bg-color: #97ade7;
	--outer-container-width: 800px;
	--outer-container-height: 600px;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #ffffff;
}

.container {
	width: var(--outer-container-width);
	height: var(--outer-container-height);
	background: var(--outer-container-bg-color);
	display: flex;
	margin: auto; /* centering container within body*/

	/* centering child items of the flex container */
	justify-content: center;
	align-items: center;
}

.inner-container {
	width: var(--inner-container-width);
	height: var(--inner-container-height);
	background: var(--inner-container-bg-color);
	border-radius: 2px;
}

.container .iplay {
	margin-right: 52px;
}

.container .iplay .top-menu {
	height: 82px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*background-color: orange;*/
	margin-left: 18px;
	margin-right: 10px;
}

.container .iplay .top-menu .back-icon {
	background-image: url('back.png');
	background-repeat: no-repeat;
	background-position: center;
	flex-basis: 20px;
	height: 30px;
	/*background-color: pink;*/
}

.container .iplay .top-menu .plays-icon {
	background-image: url('play.png');
	background-repeat: no-repeat;
	background-position: center;
	flex-basis: 40px;
	height: 38px;
	/*background-color: red;*/
}

.container .iplay .top-menu .player-header {
	flex-basis: 172px;
	text-align: center;
	color: #7a608d;
	/*background-color: lightgreen;*/
}

.container .iplay .top-menu .player-header .header {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0;
}

.container .iplay .top-menu .player-header .subheader {
	margin-top: 0;
	font-size: 10px;
}

.container .iplay .middle-img {
	background-image: url('main-img.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 275px;
}

.container .iplay .play-menu {
	height: 65px;
}

.container .iplay .play-menu .backward {
	background-image: url('previous.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 25px;
	height: 25px;
	float: left;
	margin-left: 42px;
	margin-top: 15px;
}

.container .iplay .play-menu .play-btn {
	background-image: url('play2.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 56px;
	margin-top: 10px;
}

.container .iplay .play-menu .forward {
	background-image: url('next.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 25px;
	height: 25px;
	float: left;
	margin-left: 46px;
	margin-top: 15px;
}

.container .iplay .vol-menu {
	/*background: green;*/
	height: 42px;
	background-image: url('volume.png');
	background-repeat: no-repeat;
	background-position: center;
}

.container .iplay .social-menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 10px;
}

.container .iplay .social-menu .hamburguer {
	background-image: url('hamburguer.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 25px;
	height: 25px;
}

.container .iplay .social-menu .like {
	background-image: url('heart.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 25px;
	height: 25px;
}

.container .iplay .social-menu .download {
	background-image: url('download.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 25px;
	height: 25px;
}

.container .iplay .social-menu .share {
	background-image: url('share.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 25px;
	height: 25px;
}

.container .iplay .social-menu .notifications {
	background-image: url('msgs.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 25px;
	height: 25px;
}

.container .channel-list .channel {
	height: calc(var(--inner-container-height) / 9);
	border-bottom: 1px solid lightgrey;
	padding-left: 15px;
	padding-top: 15px;
	position: relative;
}

.container .channel-list .channel:nth-child(3) .channel-title {
	color: #fe5c8b;
}

.container .channel-list .channel:nth-child(3) .channel-music {
	color: #fcbfce;
	font-weight: bold;
}

.container .channel-list .channel:nth-child(3) .channel-plays {
	color: #fcbfce;
	font-weight: bold;
}

.container .channel-list .channel .close-img {
	background-image: url('close-img.png');
	width: 25px;
	height: 25px;
	float: left;
}

.container .channel-list .channel .channel-list-header {
	color: #7a608d;
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin-top: 3px;
	margin-left: 60px;
}

.container .channel-list .channel .channel-title {
	color: #7a608d;
	font-size: 12px;
	font-weight: bold;
}

.container .channel-list .channel .channel-music {
	color: #e1dee7;
	font-size: 10px;
	font-weight: bold;
}

.container .channel-list .channel .channel-plays {
	color: #e1dee7;
	font-size: 10px;
	position: absolute;
	right: 15px;
	float: right;
	top: 20px;
}
