:root {
	--main-container-bg-color: #FEDDA8;
	--left-container-bg-color: #2C2B2B;
	--right-container-bg-color: #FFFFFF;
	--main-container-width: 550px;
	--main-container-height: 170px;
	--left-container-width: 164px;
	--left-container-height: 100%;
	--right-container-width: calc(var(--main-container-width) - var(--left-container-width));
	--right-container-height: 100%;
}

html {
	box-sizing: border-box;
	background-color: var(--main-container-bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%; // otherwise align-items does not center vertically
}

*, *:before, *:after {
	box-sizing: inherit;
}

.main-container {
	width: var(--main-container-width);
	height: var(--main-container-height);
	display: flex;
	position: relative;
}

.main-container .left-container {
	/*width: var(--left-container-width);*/
	/*height: var(--left-container-height);*/
	background-color: var(--left-container-bg-color);
	flex-basis: var(--left-container-width);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.main-container .right-container {
	/*width: var(--right-container-width);*/
	/*height: var(--right-container-height);*/
	background-color: var(--right-container-bg-color);
	flex-basis: var(--right-container-width);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.main-container .circle {
	position: absolute;
	background-color: var(--main-container-bg-color);
	width: 30px;
	height: 30px;
	z-index: 1;
	border-radius: 15px;
}

.main-container .top-circle {
	top: -15px;
	left: 150px;
}

.main-container .bottom-circle {
	bottom: -15px;
	left: 150px;
}

.main-container .rectangles {
	position: absolute;
	left: 162px;
}

.main-container .rectangles .rectangle {
	background-color: var(--main-container-bg-color);
	width: 6px;
	height: 12px;
	margin-bottom: 10px;
	z-index: 1;
}

.main-container .left-container {
	position: relative;
}

.main-container .left-container .qr-code {
	width: 120px;
	height: 120px;
	background-image: url('boarding-pass-qrcode.png');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 50%;
	left: 50%;

	margin: -60px 0 0 -60px;
}
